body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background: url("https://images.pexels.com/photos/1141792/pexels-photo-1141792.jpeg?cs=srgb&dl=environment-fern-iphone-wallpaper-1141792.jpg&fm=jpg");
}

table {
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translate(-10%, -10%;);
  border: 5px solid gold;
  padding: 37.5px;
  border-radius: 32.5px;
  box-shadow: 0px 5px 25px 10px #708e3b;
}

input[type="text"]{
  height: 112.5px;
  width: 392.5px;
  border: 5px solid gold;
  border-radius: 37.5px;
  font-size: 82.5px;
  background: none;
  color: gold;
}

input[type="button"]{
  color: gold;
  height: 125px;
  width: 125px;
  border: 5px solid gold;
  border-radius: 37.5px;
  background: none;
  font-weight: bold;
}

input[type="button"]:hover{
  color: black;
  transition: .5s;
}
